@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 100%;
}

/* Headings and logo*/

header {
    width: 100%;
}

#menu {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4c6d6d;
    float: left;
    margin-top: 60px;
}

#menu a {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4c6d6d;
    text-decoration: none;
}

#menu a:hover {
  
    color: #f9ae22;
    text-decoration: none;
}
#logo {
    float: left;
    height: 150px;
    width: auto; 
    border-radius: 10%; 
    margin: 10px;
} 
#menu li {
    float: left;
    list-style: none;
    margin: 20px;
}

#logoContainer
{
    float: left;
}

/*Main image*/
#main
{
    clear: both;
    text-align: center;
}
#home img {
    width: 100%;
}

/* About us section*/
h2 {
    color: #4b6c6c;
    text-align: left;
    font-weight: bold;
    font-size: 35px;
}
#aboutus h2, p {
    margin: 20px;
    text-align: left;
}
#aboutus div h3 {
    color: #4b6c6c;
}

#left-experience-container {
    padding-top: 30px;
    float: left;
    width: 33%;
}
#experience-container {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
#center-circle-container{
width: 33%;
margin: auto;
padding-top: 30px;
}
#left-skilled-container{
    width: 33%;
    padding-top: 30px;
    float: right;
}
#skilled-container {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
#center-reliable-container {
    width: 33%;
    margin: auto;
    padding-top: 30px;
    padding-left: 160px;
    
}
#reliable-container {
    width: 60%;
    line-height: 20px;
    margin-bottom: 50px;
}
hr {
    border: 1px solid #4b6c6c;
}
.avatar-image {
    display: inline-flex;
    align-items:center; 
}
h3 {
    padding: 2px;
}

/* Circular image*/
#circle-container {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-style: solid;
    border-color: #4b6c6c;
    border-width: 4px;
    border-radius: 50%;
    margin: auto;
}

#circle-cover-bg {
    background: url('../images/about-image.jpg') no-repeat center center;
    border-radius: 50%;
    background-size: 160px;
    height: 100%;
    
}
/* Style our services section */

#services h2, p {
    margin: 20px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #feaf17;
  }

  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #4b6c6c;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #4b6c6c;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #4c6d6d;
    border-top: none;
    height: 450px;
  }

  .tabcontent .heading {
    text-align: left;
    padding: 20px;
    color: #4c6d6d;
}

.tabcontent, p {
    color: inherit;
    
}
#domestic-container {
    width: 60%;
    margin-bottom: 40px;
    margin-top: 30px;
    
}
#domestic-image img {
    float: right;
    padding-right: 10px;
    
}
#commercial-container {
    width: 60%;
    margin-bottom: 50px;
    margin-top: 30px;
}
#commercial-image img {
    float: right;
    padding-right: 20px;
    
}

/* Add style to other services tab content */
.other-services {
    float: left;
    width: 25%;
}
.separator {
    clear: both;
    width: 100%;
}

/* Add style to contact us section */ 
#secondary::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: 0;
}
#secondary {
    position: relative;
}
#secondary > * {
    z-index: 10;
    position: relative;
}
#secondary {
    background: url('../images/electrical-wires.jpg');
    height: 400px;
    width: 100%;
    overflow: hidden;
  
}
#secondary img {
    height: 100%; width: 100%;
    object-fit: cover;
}
#secondary p {
    color: #f2f2f2;
    font-weight: bold;  
    text-align: left;
    font-size: 26px;
} 
.contactUs-content {
    padding-top: 100px;
}
 .contact-img {
     width: 25%;
     float: left;
     padding-top: 20px;
 }
 
 /* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #f2f2f2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .modal-content h2 {
      text-align: center;
      letter-spacing: 2px;
  }
  .modal-content label {
      float: left;
      color: #4c6d6d;
      font-weight: bold;
  }
  
  /* The Close Button */
  .close {
    color: #f9ae22;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #4c6d6d;
    text-decoration: none;
    cursor: pointer;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #f9ae22; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #f9ae22;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #4c6d6d;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background: #f2f2f2;
    padding: 20px;
  }

  /* Add style to the botton*/
  #btnContact-form {
      background-color: #f9ae22;
      padding: 10px;
      border-radius: 5px;
      font-size: 20px;  
      font-weight: bold;
  }

 /* Style the footer*/
 .footer-contacts{
     margin-top: 20px;
     width: 100%;
     display: inline-block;
 }
 .footer-content {
     width: 100%;
     display: inline-block;
 }
 .footer-content label {
    
    display: block;
    width: 250px;
    color: black;
}

.footer-content i {
    
    margin-right: 5px;
}

.footer-content a {
    color: black;
    text-decoration: none;
}

#address {
    display: inline;
}

 .footer-contacts {
     width: 50%;
     float: left;
     padding-left: 20px;
 }
 .socialMedia-links {
        float: right;
        padding-right: 20px;
        padding-top:60px;
 }

 .socialMedia-links ul li {
    float: right;
    text-decoration: none;
    margin-left: 10px;
}
.socialMedia-links ul
{
    list-style-type: none;
}

/* Responsive screen size*/

@media only screen and (max-width: 915px) and (min-width: 200px)  
{
  .other-services
  {
      width: 100%;
  }
  .other-services img
  {
      float: none;
  }
  .other-services h4
  {
      float: none;
  }
 }

@media only screen and (max-width: 915px) {

    #left-experience-container
    { 
        width: 100%;
    }
    #experience-container
    {
        float:none;
        width: 100%;
    }
    #center-reliable-container
    {
        width: 100%;
        float: none;
        clear: both;
        padding-left: 0px;
        padding-top: 0px;
    }
    #reliable-container
    {
        width: 100%;
        float: none;
    }
    #skilled-container
    {
        width: 100%;
    }

    #left-skilled-container
    {
        float: none;
        width: 100%;
    }
    #center-circle-container
    {
        display: none;
    }

    #circle-container
    {
        margin:0px;
    }

    #domestic-container, #commercial-container
    {
        width:100%;
    }

    .tabcontent
    {
        height: auto;
        border: none;
    }

    #domestic-image img
    {
        display: none;
    }
    #commercial-image img
    {
        display: none;
    }

    #secondary
    {
        height: auto;
        background: url('../images/electrical-wires-small.jpg');
    }

    .contactUs-content
    {
        padding-top: 0px;
    }

    #secondary p
    {
        font-size: 15px;
    }
    #btnContact-form {
        font-size: 15px;
    }
    .contact-img
    {
        width: 100%;
    }

    
    .footer-contacts,.socialMedia-links
    {
        width: 100%;
        float: none;
        padding-top: 10px;
    }
    .socialMedia-links ul
    {
        float: left;
    }
    
    .tab button
    {
        width: 100%;
    }

    #menu li
    {
        
        float:left;
    }
    #logo
    {
        width: 90%;
        height: auto;
        float: none;
    }
  }

  @media only screen and (max-width: 970px) and (min-width: 915px)  
 {
    
    #menu li
    {
        
        float:left;
    }
    #logo
    {
        width: 100%;
        height: auto;
    }
    #logoContainer
    {
        width:30%;
    }
  }

 


 




  