@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 100%;
}

/* Headings and logo*/

header {
    width: 100%;
}

#menu {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4c6d6d;
    float: left;
    margin-top: 60px;
}

#menu a {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4c6d6d;
    text-decoration: none;
}

#menu a:hover {
  
    color: #f9ae22;
    text-decoration: none;
}
#logo {
    float: left;
    height: 150px;
    width: auto; 
    border-radius: 10%; 
    margin: 10px;
} 
#menu li {
    float: left;
    list-style: none;
    margin: 20px;
}

#logoContainer
{
    float: left;
}

/*Main image*/
#main
{
    clear: both;
    text-align: center;
}
#home img {
    width: 100%;
}

/* About us section*/
h2 {
    text-decoration: underline;
    color: #4b6c6c;
    text-align: left;
}
#aboutus h2, p {
    margin: 20px;
    text-align: left;
}
#aboutus div h3 {
    color: #4b6c6c;
}

#left-experience-container {
    padding-top: 30px;
    float: left;
    width: 33%;
}
#experience-container {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
#center-circle-container{
width: 33%;
margin: auto;
padding-top: 30px;
}
#left-skilled-container{
    width: 33%;
    padding-top: 30px;
    float: right;
}
#skilled-container {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
#center-reliable-container {
    width: 33%;
    margin: auto;
    padding-top: 30px;
    padding-left: 160px;
    
}
#reliable-container {
    width: 60%;
    line-height: 20px;
    margin-bottom: 50px;
}
hr {
    border: 1px solid #4b6c6c;
}
.avatar-image {
    display: inline-flex;
    align-items:center; 
}
h3 {
    padding: 2px;
}

/* Circular image*/
#circle-container {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-style: solid;
    border-color: #4b6c6c;
    border-width: 4px;
    border-radius: 50%;
    margin: auto;
}

#circle-cover-bg {
    background: url('../images/about-image.jpg') no-repeat center center;
    border-radius: 50%;
    background-size: 160px;
    height: 100%;
    
}
/* Style our services section */

#services h2, p {
    margin: 20px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #feaf17;
  }

  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #4b6c6c;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #4b6c6c;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #4c6d6d;
    border-top: none;
    height: 450px;
  }

  .tabcontent .heading {
    text-align: left;
    padding: 20px;
    color: #4c6d6d;
}

.tabcontent, p {
    color: inherit;
    
}
#domestic-container {
    width: 60%;
    margin-bottom: 40px;
    margin-top: 30px;
    
}
#domestic-image img {
    float: right;
    padding-right: 10px;
    
}
#commercial-container {
    width: 60%;
    margin-bottom: 50px;
    margin-top: 30px;
}
#commercial-image img {
    float: right;
    padding-right: 20px;
    
}

/* Add style to other services tab content */
.other-services {
    float: left;
    width: 25%;
}
.separator {
    clear: both;
    width: 100%;
}

/* Add style to contact us section */
 
#secondary {
    background: url('../images/electrical-wires.jpg') no-repeat center center;
    width: 100%;
    height: 300px;
}
#secondary p {
    color: white;
    font-weight: bold;    
}
 .contact-img {
     width: 25%;
     float: left;
     padding-top: 20px;
 }
 
 




  