@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 100%;
}

/* headings and logo*/

header {
    width: 100%;
}

#menu {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4c6d6d;
    float: left;
    margin-top: 60px;
}

#menu a {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4c6d6d;
    text-decoration: none;
}

#menu a:hover {
  
    color: #f9ae22;
    text-decoration: none;
}
#logo {
    float: left;
    height: 150px;
    width: auto; 
    border-radius: 10%; 
    margin: 10px;
} 
#menu li {
    float: left;
    list-style: none;
    margin: 20px;
}

#logoContainer
{
    float: left;
}

/*main image*/
#main
{
    clear: both;
    text-align: center;
}
#home img {
    width: 100%;
    background: url(../images/main-image.png) no-repeat center center;
}

/* about us section*/
#aboutus h2 {
    text-decoration: underline;
    color: #4b6c6c;

}

#aboutus h2, p {
    margin: 20px; 
}

#experience-container {
float: left;
width: 33%;
}

#image-container {
    float: left;
    width: 33%;
  
}
#image-container img {
    width: 250px;
}
#reliable-container {
    clear: both;
    text-align: center;
    width: 33%;
    display: block;
}

